﻿@using DancingGoat.Models.Sections

@model Kentico.PageBuilder.Web.Mvc.ComponentViewModel<ThemeSectionProperties>

<div class="row @Model.Properties.Theme">
    <div class="col-md-4">
        @Html.Kentico().WidgetZone()
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                @Html.Kentico().WidgetZone()
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @Html.Kentico().WidgetZone()
    </div>
</div>