﻿@using DancingGoat.Models.Sections

@model Kentico.PageBuilder.Web.Mvc.ComponentViewModel<ThemeSectionProperties>

<div class="row @Model.Properties.Theme">
    <div class="col-md-12">
        <header>
            @Html.Kentico().WidgetZone()
        </header>
    </div>
</div>