﻿/* Add custom CSS */
body {
    margin: 0;
    font-size: 16px;
    font-family: "Montserrat",Arial,"Helvetica Neue",Helvetica,sans-serif;
    height: 100vh;
    width: 101%;
    position: relative;
    overflow-x: hidden;
}

header {
    font-family: "Montserrat",Arial,"Helvetica Neue",Helvetica,sans-serif;
    width: 100%;
    color: #fff;
    background: #000;
    font-weight: 500;
    font-size: 16px;
    z-index: 10;
    bottom: 0px;
    margin-bottom: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

footer {
    font-family: "Montserrat",Arial,"Helvetica Neue",Helvetica,sans-serif;
    width: 100%;
    color: #fff;
    background: #3e1965;
    font-weight: 500;
    font-size: 16px;
    z-index: 10;
    bottom: 0px;
    margin-top: 45px;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #3e1965;
    border: none;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.ktc-uploader-text-button {
    color: #e30000;
    cursor: pointer;
    margin-left: 5px;
    background: #eeeeee;
    padding: 5px 10px;
    border-radius: 7px;
}

img {
    width: 100% !important;
}

.menu-link {
    color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
}

    .menu-link:hover {
        color: #FFF;
    }

.form-control {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

input:hover, input:focus, input:active {
    border: inherit !important;
    border-bottom: 1px solid #ccc !important;
    outline: none !important;
}

.form-label a {
    color: #5e2a88;
    text-decoration: none
}

    .form-label a:hover, .form-label a:focus, .form-label a:active {
        color: #5e2a88;
        text-decoration: underline
    }

.field-validation-error {
    color: #e30000;
    font-size: 16px;
}

.form-field {
    margin: 0 0 25px;
    padding: 0;
}

.explanation-text {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
}
